.galery {
    background-image: url(../img/galeria.jpg);
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: cover;
    background-attachment: fixed;
    .container-galery {
        display: flex;
        flex-direction: column;
        h2 {
            color: white;
            font-family: 'Judson', serif;
            font-size: 40px;
            text-align: center;
            margin-top: 60px;
            font-weight: lighter;
            @include mobile {
                font-size: 30px;
                margin-top: 10px;
            }
        }
        .hands {
            .hands__manicure  {
            color: white;
            font-family:'Judson', serif;
            font-size: 30px;
            text-align: center;
            margin-top: 40px;
            font-weight: lighter;
              @include mobile {
                font-size: 23px;
                margin-top: 10px;
              }
            }
            .hands__container {
                display: flex;
                justify-content: center;
                width: 100%;
                @include tablet {
                    width: 83%;
                }
                .row__div {
                    @include mobile {
                        display: flex;
                        justify-content: center;
                    }
                    .row__hands {
                        margin: 5px 40px;
                        border-radius: 20px;
                        box-shadow: 3px 3px 10px;
                        &:hover{
                            transform: scale(1.5);
                            transition: all 1s ease;
                        }
                        @include mobile {
                            border-radius: 20px;
                            box-shadow: 3px 3px 10px;
                            margin: 10px;  
                            &:hover{
                                transform: none;
                            }
                        }
                        @include tablet {
                            border-radius: 20px;
                            box-shadow: 3px 3px 10px;
                            margin: 10px;
                        }
                    }
                }
            }
        }
        .face {
            margin-top: 40px;
            .face__facial {
                color: white;
                font-family:'Judson', serif;
                font-size: 30px;
                text-align: center;
                margin-top: 40px;
                font-weight: lighter;
                @include mobile {
                    font-size: 23px;
                    margin-top: 10px;
                }
            }
            .face__container {
                display: flex;
                justify-content: center;
                @include tablet {
                    width: 88%;
                }
                .row__div {
                    @include mobile {
                        display: flex;
                        justify-content: center;
                    }
                    .row__face {
                        margin: 5px 50px;
                        border-radius: 20px;
                        box-shadow: 3px 3px 10px;
                        &:hover{
                            transform: scale(1.5);
                            transition: all 1s ease;
                        }
                        @include mobile {
                            border-radius: 20px;
                            box-shadow: 3px 3px 10px;
                            margin: 10px;
                            &:hover{
                                transform: none;
                                
                            }
                        }
                        @include tablet {
                            border-radius: 20px;
                            box-shadow: 3px 3px 10px;
                            margin: 10px;
                        }
                    }
                }
            }
            .masage__container {
                display: flex;
                justify-content: center;
                @include tablet {
                    width: 75%;
                }
                .row__div {
                    @include mobile {
                        display: flex;
                        justify-content: center;
                    }
                    .row__face {
                        margin: 5px 50px;
                        border-radius: 20px;
                        box-shadow: 3px 3px 10px;
                        &:hover{
                            transform: scale(1.5);
                            transition: all 1s ease;
                        }
                        @include mobile {
                            border-radius: 20px;
                            box-shadow: 3px 3px 10px;
                            margin: 10px;
                            &:hover{
                                transform: none;
                                
                            }
                        }
                        @include tablet {
                            border-radius: 20px;
                            box-shadow: 3px 3px 10px;
                            margin: 10px;
                        }
                    }
                }
            }    
        }
    }
}

















   
